[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "odds.converter"]
	path = odds.converter
	url = https://github.com/marcoblume/odds.converter
[submodule "pinnacle.data"]
	path = pinnacle.data
	url = https://github.com/marcoblume/pinnacle.data
